html { 
    background: url("https://is3-ssl.mzstatic.com/image/thumb/Purple128/v4/7d/0b/3d/7d0b3d37-3f87-fb19-673f-7edeef46b17d/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-4.png/1200x630bb.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


body {
    line-height: 1.5;
    height: 100%;
    overflow: scroll;
}

.page-wrapper {
    width: 720px;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.jumbotron {
    position: relative;
    font-family: Gill Sans Extrabold, sans-serif;
    width: 100%;
    background-color:white;
    color:black;
    align-content: center;
    border-radius: 0px;

}

#timer {
    position: relative;
    font-family: 'Orbitron', sans-serif;
    background-color: #007bff;
    color:white;
    font-size: 80px;
    padding: 10px 10px 20px 10px;
    margin: 40px 0 0 170px;
    width: 300px;
    height: 100px;
}

#question {
    width: 100%;
    height: 300px;
    padding: 30px;
    color:black;
    background-color:white;
}

#blue-image {
    float: left;
}

img {
    width: 200px;
    margin: 0 20px 0 0;
}

.answer {
    width: 100%;
}

#answer-1, #answer-2, #answer-3, #answer-4 { 
    float: left;   
    margin: 20px 5px;
    width: 160px;
    height: 175px;
    border-radius: 0px;

}